django==3.2
djangorestframework==3.12.4
djangorestframework-simplejwt==4.6.0
redis==3.5.3
django-redis==4.12.1
requests
python-dotenv==0.17.0
mysqlclient==2.0.3
celery==5.0.5
django-cors-headers==3.7.0
querystring-parser==1.2.4
sentry-sdk==0.10.2
pika==1.2.0
django-health-check
loguru==0.5.3
pytest-bdd
elasticsearch
elasticsearch-dsl

pytest==6.2.3
pytest-cov==2.11.1
pytest-django==4.2.0
pytest-mock==3.5.1
model-bakery==1.2.1


